{% extends 'polls/base.html' %}
{% block main_content %}
    {% if latest_questions %}
    <ul>
        {% for question in latest_questions %}
            {% comment %} <li> <a href='/{{question.id}}'><br><b>{{question.question_text}}</b></a></li> {% endcomment %}
            <li> <a href={% url "polls:detail" question.id %}><br><b>{{question.question_text}}</b></a></li>   
        {% endfor %}
    </ul>
    {% else %}
       <p>You dont have any question.please add some</p>
    {% endif%}

{% endblock %}